<header>
  <div class="inner">
    <div class="logo">
      <%= link_to "TextAE Canvas", root_path %>
    </div>
    <%= link_to "New Text", root_path, class: "new-text-link" unless current_page?(controller: "ai_annotations", action: "new") %>
  </div>
</header>
